@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Dancing+Script&display=swap');

/* CSS reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100vh;
    position: relative;

}

body {
    background-color: #926AA6;
    font-family: "DM Serif Display", serif;
    color: #2A0944;
   
}

#my-avatar {
    width: 150px;
    border-radius: 50%;
}
#content {
    text-align: center;
    height: 100%;
}
#my-name{
    font-family: "Dancing Script" , cursive;
    color: hsl(340, 93%, 29%);

}
#left-side {
background-color: NONE;
position: absolute;
top: 16px;
left: 16px;
}
#left-side > a {
    margin-right: 16px;
}
#right-side {
    background-color: NONE;
    position: absolute;
    top: 16px;
    right: 16px;
}
a {
    color: NONE;
    text-decoration: none;
    border-bottom: 1px dotted NONE;
}
 

footer {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}
footer a:first-child {
    margin-right: 16px;
}

#content div {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}