@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Dancing+Script&display=swap');

/* CSS reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#98B4D4;
    font-family: "DM Serif Display", serif;
    color: #2A0944;
    

}
#my-avatar {
    width: 150px;
    border-radius: 50%;
}
#content {
    text-align: center;
}
#my-name{
    font-family: "Dancing Script" , cursive;
    color: #A10035;
}
