@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Dancing+Script&display=swap');

body {
    background-color:aqua;
    font-family: "DM Serif Display", serif;
    
}

h1,
h2 {
    color:crimson;
}
p {

color: blueviolet;

}
#my-avatar {
    width: 150px;
    border-radius: 50%;
}
#content {
    text-align: center;
}
#my-name{
    font-family: "Dancing Script" , cursive;
}
